{% extends 'base.html' %}
{% block nav %}
  {% include 'nav.html' %}
{% endblock %}
{% block content %}
  <svg id="chart"></svg>
  <form action="/sentences?analyze=yes" method="post">
    <input type="text" name="words" placeholder="Enter a sentence to begin analyzing" />
  </form>
  <p><a href="/help">how to use this tool</a></p>
  <script>
    const endpoint = "{{ url_for(request.endpoint) }}graph/data"
  </script>
  <script src="{{ url_for('static', filename='graph_objs.js') }}" ></script>
  <script src="{{ url_for('static', filename='graph_view.js') }}" ></script>
{% endblock %}
