<tr>
  <th>{{ phrase.words }}</th>
  <td>
    <input type="hidden" name="phrase_id" value="{{ phrase.id }}">
    {% if not phrase.definition %}
    <input type="text" name="definition" placeholder="enter a new definition" />
    {% else %}
    <input type="hidden" name="thread" value="{{ phrase.stack_id }}" />
    <input type="text" name="definition" value="{{ phrase.definition }}" />
    {% endif %}
  </td>
  <td>
    <select name="status">
      <option class="status_new" value="NEW" {% if phrase.definition_status == 'NEW' %}selected{% endif %}>NEW</option>
      <option class="status_exploring" value="EXPLORING" {% if phrase.definition_status == 'EXPLORING' %}selected{% endif %}>EXPLORING</option>
      <option class="status_accepted" value="ACCEPTED" {% if phrase.definition_status == 'ACCEPTED' %}selected{% endif %}>ACCEPTED</option>
      <option class="status_stuck" value="STUCK" {% if phrase.definition_status == 'STUCK' %}selected{% endif %}>STUCK</option>
    </select>
  </td>
  <td><button hx-post="/definitions"
         hx-target="closest tr"
         hx-include="closest tr"
         hx-swap="outerHTML">save</button></td>
</tr>
