<tr {% if phrase.stale %}class="stale_def"{% endif %}>
  <th>{{ phrase.words }}</th>
  {% if phrase.definition %}
  <td><i>{{ phrase.definition }}</i></td>
  {% else %}
  <td><i>Not yet defined</i></td>
  {% endif %}
  {% if phrase.stale %}
  <td><b>STALE</b></td>
  {% else %}
  <td class="status_{{ phrase.definition_status.lower() }}"><i>{{ phrase.definition_status }}</i></td>
  {% endif %}
  <td><a 
      hx-get="/phrases/{{ phrase.id }}?inline_edit=yes"
      hx-target="closest tr"
      hx-swap="outerHTML">edit</a> | <a hx-delete="/phrases/{{ phrase.id }}" hx-target="closest tr">delete</a>
  </td>
</tr>
