{% extends 'base.html' %}
{% block nav %}
{% with sentences=True,  phrases=False%}
  {% include 'nav.html' %}
{% endwith %}
{% endblock %}
{% block content %}
<div id="sentence_table">
  <form class="one_line_input" hx-on::after-request="this.reset()">
    <input type="text" name="words" placeholder="Enter a new sentence to analyze" />
    <button
      hx-post="/sentences"
      hx-include"closest div"
      hx-target="#sentence_table"
      hx-select="#sentence_table">save</button>
  </form>
  {% if sentences %}
  <table>
    <thead>
      <tr>
        <th>Sentence</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for sentence in sentences %}
        <tr>
          <td>{{ sentence.words }}</td> 
          <td><a href="/sentences/{{ sentence.id }}">analyze</a> | <a 
              hx-delete="/sentences/{{ sentence.id }}"
              hx-target="closest tr"
              >delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
