<form hx-on::after-request="this.reset()">
  <div class="sentence_text">
      <input type="hidden" name="sentence" value="{{ sentence.id }}" />
      <textarea name="words" rows=3 />{{ sentence.words }}</textarea>
  </div>
  <div class="sentence_edit_controls">
    <button hx-put="/sentences/{{ sentence.id }}?analyze=yes"
            hx-trigger="click, keydown[keyCode==13]"
            hx-include="#sentence_banner"
            hx-target="#all_content"
            hx-select="#all_content"
      >Save updated</button>
    <a hx-get="/sentences/{{ sentence.id }}"
        hx-target="#sentence_banner"
        hx-select="#sentence_banner"
      >cancel</a>
  </div>
</form>
