{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<h1>Sentences</h1>
<div>
  {% if sentences %}
  <table>
    <thead>
      <tr>
        <th>Sentence</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for sentence in sentences %}
        <tr>
          <td>{{ sentence.words }}</td> 
          <td><a href="/sentences/{{ sentence.id }}">analyze</a> <a 
              hx-delete="/sentences/{{ sentence.id }}"
              hx-target="closest tr"
              >delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
